<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
	<!-- 属性计算&set -->

	<div id="yzd1">
		<div>
			firstName:
			<input type="text" v-model="firstName">
		</div>
		<div>
			lastName: 
			<input type="text" v-model="lastName">
		</div>
		<div>
			fullName
			<input type="text" v-model="fullName" disabled="disabled">
		</div>
	</div>

	<script>
		// 对fullName我们采用计算属性的方式：把fullName定义为一个返回值为firstName+lastName的方法.这样,当firstName或者lastName发生数据变更的时候,fullName通过计算属性也会发生变化,进行实时更新

		var yzd1 = new Vue({
			el: "#yzd1",
			data: {
				firstName: "zd",
				lastName: "y"
			},
			//所谓的计算属性,就是data里面根本不需要定义的,但却关联着data里面其他属性,依赖其他属性,通过一些逻辑计算出来的东西.我们把它放在computed中充当属性

			//或许有人会想到过滤器,但过滤器只能在mustache和v-bind中使用,而计算属性则能在其他指令中使用,且计算更为复杂的逻辑

			//或许也有人会想到method,但method是每次页面加载都会执行一遍,而计算属性是有缓存的,只要与计算属性相关联的data里的属性不变,计算属性不会进行计算,而是快速渲染出上一次的属性值
			computed: {
				fullName: {
					get: function(){
						return this.firstName + ' ' + this.lastName
					},
					// 使用set是为了当fullName改变的时候,firstName和lastName改变
					set: function(value){
						var name = value.split(' ')
						this.firstName = name[0]
						this.lastName = name[1]
					}
				}
			}
		})
	</script>
</body>
</html>